{include file="public/huitop"}
<title>客服群列表</title>
</head>
<body>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
         <a href="javascript:;" onclick="admin_delall()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
         <a class="btn btn-primary radius" data-title="添加客服群" onclick="admin_add('添加客服群','{:url("im/add")}','800px','500px')"><i class="Hui-iconfont">&#xe600;</i> 添加客服群</a>
		 <a class="btn btn-success radius" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
        </span>
        <span class="r">共有数据：<strong></strong> 条</span>
	</div>
	<div>
		<table class="table table-border table-bordered table-bg">
			<thead>
                <tr class="text-c">
					<th width="20"><input name="" type="checkbox" value=""></th>
					<th width="20">ID</th>
					<th width="80">群名称(点击管理)</th>
					<th width="80">头像</th>
					<th width="80">聊天记录(点击查看)</th>
					<th width="60">(id)|群主</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id="vo"}
                <tr class="text-c">
					<td><input type="checkbox" value="{$vo.id}" name="ids[]" id="ids[]"></td>
					<td>{$vo.id}</td>
					<td><a style="text-decoration:none" onClick="admin_set('群管理','{:url("im/show",['id'=>$vo['id']])}','{$vo.id}','800px','500px')" href="javascript:;" title="{$vo.groupname}">{$vo.groupname}</a></td>
					<td><img style="max-width:65px;" class="picture-thumb" src="{$vo.avatar}" /></td>
					<td><a href="javascript:;" onClick="admin_chatlog('聊天记录','{:url("im/chatlog",['id'=>$vo['id']])}','{$vo.id}','800px','500px')" >聊天记录</td>
					<td>({$vo.owner_id}) | {$vo.username}</td>
					<td class="f-14 td-manage">
                        <a style="text-decoration:none" class="ml-5" onClick="admin_set('群管理','{:url("im/show",['id'=>$vo['id']])}','{$vo.id}','800px','500px')" href="javascript:;" title="管理"><i class="Hui-iconfont">&#xe63c;</i></a>
                        <a style="text-decoration:none" class="ml-5" onClick="admin_edit('管理员编辑','{:url("im/edit",['id'=>$vo['id']])}','{$vo.id}','800px','500px')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
                        <a style="text-decoration:none" class="ml-5" onClick="admin_del(this,'{$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
{include file="public/huifoot"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="_ADMIN_/huiadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="_ADMIN_/huiadmin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script src="_ADMIN_/layui/layui.js"></script>
<script src="_ADMIN_/layui/layui.all.js"></script>
<script type="text/javascript">
/*admin-添加*/
function admin_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		shadeClose: true,
	    shade: false,
	    maxmin: true,
		area: [w, h],
	 	content: url,
		end: function () {
		window.location.reload();
		}

	});

}

/*admin-编辑*/
function admin_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		shadeClose: true,
	    shade: false,
	    maxmin: true,
		area: [w, h],
	 	content: url,
		end: function () {
		window.location.reload();
		}

	});
}
function admin_set(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		shadeClose: true,
	    shade: false,
	    maxmin: true,
		area: [w, h],
	 	content: url,
		end: function () {
		window.location.reload();
		}

	});
}

function admin_chatlog(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		shadeClose: true,
	    shade: false,
	    maxmin: true,
		area: [w, h],
	 	content: url,
		end: function () {
		window.location.reload();
		}

	});
}
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'post',
			url: "{:url('ajax/del')}",
			dataType: 'json',
			data:{id:id,table:'qun'},
			success: function(data){
				if(data.status==200){
					$(obj).parents("tr").remove();
					layer.msg(data.info,{icon:1,anim: 6,time:1000});
				}else{
				    layer.msg(data.info,{icon: 2,anim: 6,time:1000});
				}
			}
		});
	});
}

function admin_delall(){
	layer.confirm('确认要删除吗？',function(index){
	var a = [];
	$('input[name*=ids]').each(function(i,o){
			if($(o).is(':checked')){
					a.push($(o).val());
			}
	});
	if(a==''){
		layer.msg('请选择需要删除的邮件!',{icon: 5,anim: 6,time:1000} , function(){return false;});
	}
	$.ajax({
		type: 'post',
		url: "{:url('ajax/alldel')}",
		dataType: 'json',
		data: {ids:a,table:'qun'},
		success: function(data){
			if(data.status==200){
				layer.msg(data.info ,{icon: 1,time:1000} , function(){
				window.location.replace(location.href);
				});
			}else{
				layer.msg(data.info,{icon: 2,anim: 6,time:1000} , function(){});
			}
		}
	});
	});
}
</script>
</body>
</html>
