{include file="public/huitop"}
<title>图片列表</title>
</head>
<body>

<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="delall()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="{:url('send')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 发送邮件</a></span> </div>
	<div>
        <table class="table table-border table-bordered table-bg">
    		<thead>
    			<tr>
    				<th scope="col" colspan="9">邮件列表</th>
    			</tr>
    			<tr class="text-c">
    				<th width="25"><input type="checkbox"  value=""></th>
    				<th width="40">ID</th>
    				<th width="100">发件人</th>
    				<th width="100">邮箱</th>
    				<th width="100">标题</th>
    				<th width="100">时间</th>
    				<th width="100">操作</th>
    			</tr>
    		</thead>
    		<tbody>
    			{volist name="list" id="vo"}
    			<tr class="text-c">
    				<td><input type="checkbox" value="{$vo.id}" name="ids[]" id="ids[]"></td>
    				<td>{$vo.id}</td>
    				<td>{$vo.sname}</td>
    				<td>{$vo.email}</td>
    				<td>{$vo.title}</td>
    				<td>{$vo.sendtime|date="Y-m-d H:i:s"}</td>
    				<td class="td-manage"> <a title="删除" href="javascript:;" onclick="admin_del(this,{$vo.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
    			</tr>
    			{/volist}
    		</tbody>
    	</table>
    	<div class="pagelist">
    		{$list|raw}
    	</div>
	</div>
</div>
{include file="public/huifoot"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/huiadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/huiadmin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script src="__ADMIN__/layui/layui.js"></script>
<script src="__ADMIN__/layui/layui.all.js"></script>
<script type="text/javascript">

function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'post',
			url: "{:url('ajax/del')}",
			dataType: 'json',
			data:{id:id,table:'semail'},
			success: function(data){
				if(data.status==200){
					$(obj).parents("tr").remove();
					layer.msg(data.info,{icon:1,anim: 6,time:1000});
				}else{
				    layer.msg(data.info,{icon: 2,anim: 6,time:1000});
				}
			}
		});
	});
}

function delall(){
	layer.confirm('确认要删除吗？',function(index){
	var a = [];
	$('input[name*=ids]').each(function(i,o){
			if($(o).is(':checked')){
					a.push($(o).val());
			}
	});
	if(a==''){
		layer.msg('请选择需要删除的邮件!',{icon: 5,anim: 6,time:1000} , function(){return false;});
	}
	$.ajax({
		type: 'post',
		url: "{:url('ajax/alldel')}",
		dataType: 'json',
		data: {ids:a,table:'semail'},
		success: function(data){
			if(data.status==200){
				layer.msg(data.info ,{icon: 1,time:1000} , function(){
				window.location.replace(location.href);
				});
			}else{
				layer.msg(data.info,{icon: 2,anim: 6,time:1000} , function(){});
			}
		}
	});
	});
}
</script>
</body>
</html>
