<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理员添加</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__ADMIN__/style/admin.css" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
            <div class="layui-form">
	              <div class="layui-form-item">
	                <label class="layui-form-label">用户名:</label>
	                <div class="layui-input-inline">
	                  <input type="text" name="username" id="username" class="layui-input">
	                </div>
	              </div>
	              <div class="layui-form-item">
	                <label class="layui-form-label">密码</label>
	                <div class="layui-input-inline">
	                  <input type="password" name="password" id="password" class="layui-input">
	                </div>
	                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
	              </div>
				  <div class="layui-form-item">
				   <label class="layui-form-label">确认密码</label>
				   <div class="layui-input-inline">
					 <input type="password" name="repassword" id="repassword" class="layui-input">
				   </div>
				   <div class="layui-form-mid layui-word-aux">6到16个字符</div>
				 </div>
	              <div class="layui-form-item">
	                <label class="layui-form-label">nickname</label>
	                <div class="layui-input-inline">
	                  <input type="text" name="nickname" id="nickname" autocomplete="off" class="layui-input">
	                </div>
	              </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">角色</label>
				    <div class="layui-input-inline">
				      <select name="groupid" id="groupid">
                        {volist name="rolelist" id="vo"}
				        <option value="{$vo.id}">{$vo.groupname}</option>
                        {/volist}
				      </select>
				    </div>
				  </div>

				  <div class="layui-form-item">
				    <label class="layui-form-label">状态</label>
				    <div class="layui-input-inline">
				      <input type="radio" name="open" id="open" value="true" title="显示" checked="">
				      <input type="radio" name="open" id="open" value="false" title="隐藏">
				    </div>
				  </div>

	              <div class="layui-form-item">
	                <div class="layui-input-block">
	                  <button class="layui-btn" onclick="user_submit();">提交</button>
	                </div>
	              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="__ADMIN__/layui/jquery.min.js"></script>
<script src="__ADMIN__/layui/layui.js"></script>
<script src="__ADMIN__/layui/layui.all.js"></script>
<script type="text/javascript">
function user_submit(){
	var username=$('#username').val();
	var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
	var password=$('#password').val();
	var repassword=$('#repassword').val();
	var nickname=$('#nickname').val();
	var open=$("input[name='open']:checked").val();
	var groupid=$('#groupid').val();
	if(username==''){
		layer.msg('用户名不能为空!',{icon: 5,anim: 6,time:3000} , function(){});
		$('#username').focus();
		return false;
	}else if(!reg.test(username)){
	   	layer.msg('邮箱不合法!',{icon: 5,anim: 6}, function(){});
	   	$('#username').focus();
	   	return false;
    }
	if(password!=repassword){
		layer.msg('两次密码不一致!',{icon: 5,anim: 6,time:1000} , function(){});
		$('#password').focus();
		return false;
	}
	$.ajax({
			type: "post",
			url: "{:url('user/add')}",
			data: {username:username, password:password,nickname:nickname,open:open,groupid:groupid},
			dataType: "json",
			success: function(data){
				if(data.status==200){
					 layer.msg(data.info ,{icon: 1,time:1000} , function(){
						 var index = parent.layer.getFrameIndex(window.name);
						 parent.$('.btn-refresh').click();
						 parent.layer.close(index);
					 });
				}else{
					layer.msg(data.info,{icon: 5,anim: 6,time:1000} , function(){});
				}
			}
		});
 }
</script>
</body>
</html>
